@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,700;1,400;1,600&display=swap');


body {
    font-family: system-ui;
    background-image: url(/host/Image/mountains-6839521_1920.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.name {
    text-align: center;
}

.name_{
    font-size: 24px;
    color: white;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.links {
    padding: 0;
    font-family: 'Roboto Mono',
    monospace;
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 13px;
}

.afe {
    border: 0 solid;
    font-size: 22px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 4px;
    color: white;
    background-color: #08214076;
    
}